name: Pages

on:
  push:
    tags: ['[0-9]+.[0-9]+.[0-9]+']

env:
  DEVELOPER_DIR: /Applications/Xcode_26.3.app/Contents/Developer

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  pages:
    name: Pages
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: macos-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
    - name: Checkout source
      uses: actions/checkout@v6
    - name: Configure pages
      uses: actions/configure-pages@v5
    - name: Build documentation
      run: make site
    - name: Upload pages artifact
      uses: actions/upload-pages-artifact@v3
    - name: Deploy pages artifact
      id: deployment
      uses: actions/deploy-pages@v4
